/* css styles 

universal selector: *{}

element selector: h1{}
  <title></title>
  <h1></h1>
  <p></p>
  
class selector: .Cvalue {}
  < class='Cvalue'>
  
ID selector: #IDvalue {}
  < id='IDvalue' >
  
Inline styling: 
  < style='' >
  <span style=''>
*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Poppins:ital,wght@1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,700&family=Long+Cang&family=Poppins:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,700&family=Long+Cang&family=Poppins:ital,wght@1,300&family=Volkhov:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,700&family=Long+Cang&family=Lora&family=Poppins:ital,wght@1,300&family=Volkhov:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,700&family=Long+Cang&family=Lora:wght@400;700&family=Playfair+Display:wght@600&family=Poppins:ital,wght@1,300&family=Volkhov:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,700&family=Long+Cang&family=Lora:wght@400;700&family=Playfair+Display:wght@600&family=Poppins:ital,wght@1,300&family=Red+Hat+Display:wght@600&family=Volkhov:wght@700&display=swap');

/* *{
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
} */

.title {
  font-family: "Lora", "PingFang SC";
  font-size: 30px;
  letter-spacing: 1px;
  color: black;
}

/*
.navbar{
  letter-spacing: 1px;
  height: 60px;
}
*/

.nav-link .menu-text{
  font-family: "Comic Sans MS", "PingFang SC";
  font-size: 19px;
}

.subtitle .lead{
  font-family: 'Lora', serif, Baoli SC;
  font-size: 27px;
  letter-spacing: 5px;
}

h1.title{
  color: black;
}

.anchored{
  font-size: 24px;
}

/*body{font-family: 'Ma Shan Zheng', cursive;}*/

/*body{font-family: 'Long Cang', cursive;
      font-size: 24px;
}*/
/*body{font-family: 'Zhi Mang Xing', cursive;
     font-size: 24px;
}*/

p {
  font-family: "chinese quotes", 'Lora', serif, "PingFang SC";
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 1px;
}

p .notes{
  font-size: 14px;
  color: #7327ff;
  font-weight: bold;
}

.blockquote>p{
  color: #003566;
  font-family: "Comic Sans MS", "Xingkai SC";
  font-weight: 600;
  font-size: 24px;
}

figure {
   text-align: center;
   fig-align: center
}

.sidebar-item-container{
  height: 50px;
  line-height: 20px;
}

.sidebar-item-container .menu-text{
  font-family: 'Lora', serif, "weibei SC";
  font-size: 21px;
  letter-spacing: 1px;
}

ul>li>p{
  font-size: 21px;
  font-family: "Comic Sans MS", "weibei SC";
  color: #3a0ca3;
}

.callout-body-container>ul>li{
  font-size: 21px;
  font-family: "Comic Sans MS", "weibei SC";
  color: purple;
  margin: 10px 0;
}

.callout-body>p{
  font-size: 21px;
  font-family: "Comic Sans MS", "weibei SC";
  color: purple;
  margin: 0 0 0 10px;
}

code{
  font-family: "chinese quotes", 'Lora', serif, "PingFang SC";
  
  line-height: 40px;
  
  letter-spacing: 3px;
}

pre{
  font-size: 21px;
  letter-spacing: 1px;
}

.pinyin{
  text-align: center;
}

.fantishupai{
  text-align: center;
}

.caption{
  text-align: center;
}



.nav-link{
  font-size: 18px;
}

.sourceCode{
  margin-left: 20px;
}

.end{
  text-align: center;
  
}

