/*-- scss:rules --*/

.slide-background-content{
  background-image: linear-gradient(white  , #ddf1fd );
  background-size: 100% 100%;
}

#title-slide {
  .title {
    font-size: 2em;
    color: #0a5796;
  }

  .subtitle {
    font-size: 1.5em;
    color: #3a86ff;
  }
  }

.reveal h2{
  font-size: 1.5em;
  color: blue;
}

.slides-top {
    position: absolute;
    top: 0;
}